.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
}
th {
  text-align: left;
}

.user-list {
  border: 1px solid;
  position: relative;
  float: right;
}

.user-list li {

}

.login-container {
  width: 400px;
}

.game_card {
  border: 1px solid;
}
.board {
  margin: 5px auto;
  border: 1px solid black;
}
.board td {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  font-size: 7em;
  text-align: center;
}
