<div class="header">
  <form action="/games/new" method="post">
    <button type="submit">NEW GAME!</button>
  </form>
</div>

<div class="user_list">
</div>

<div class="game_index">
</div>


<script type="text/javascript">
  lobbyPage();
</script>
